{% extends "photoapi/base.html" %}
{% block content %}
        <p>Name: {{ client.first_name }} {{client.last_name}}</p>
        <p>personal website: {{ client.website }}</p>
	<img src="{{ MEDIA_URL }}{{ MEDIA_ROOT }}{{client.picture}}" style="height:250px; width:200px;">

	<form action="{% url 'photo-new' %}" method="post" enctype="multipart/form-data">
  		{{ form.as_p }}
  <input type="submit" id="submit" class="large button expand" value="Upload Image">
  {% csrf_token %}
</form>

{% endblock %}
