{% extends "photoapi/base.html" %}
{% block content %}
        <p>Name: {{ client.first_name }} {{client.last_name}}</p>
        <p>personal website: {{ client.website }}</p>
	<img src="{{ MEDIA_URL }}{{ MEDIA_ROOT }}{{client.picture}}" style="height:250px; width:200px;">

	<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_p }}
<p><input type="submit" alt="register" /></p>
</form>
{% for photo in object_list %}
        <p>title: {{ photo.title }}</p>

	<img src="{{ MEDIA_URL }}{{ MEDIA_ROOT }}{{photo.image}}" style="height:250px; width:200px;">
        (<a href="{% url "photo-edit" pk=photo.id %}">edit</a>)
	<form action='{% url "photo-delete" pk=photo.id %}' method="POST">
  	{% csrf_token %}
  		<input type="submit" value="Yes, delete." />
  
	</form>
{% endfor %}

{% endblock %}
